* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  background-color: rgb(24, 24, 24);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}
.logo img {
  display: row;
  justify-content: center;
  align-items: center;
}
.logo img {
  margin: 40px;
  margin-top: -10px;
  width: 80px;
  height: 80px;
}
.text {
  color: white;
  font-size: 35px;
  margin-top: 100px;
}
.btn-login {
  width: 15%;
  height: 100%;
  border: none;
  text-transform: uppercase;
  outline: none;
  font-weight: 60px;
  color: rgb(136, 133, 133);
  background: transparent;
  cursor: pointer;
}
.btn-login img {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: brown;
  transition: 0.5s;
  margin-top: 30px;
}
.btn-login img:hover {
  -webkit-box-shadow: 6px -1px 48px -10px rgba(66, 66, 66);
  -moz-box-shadow: 6px -1px 48px -10px rgba(66, 66, 66);
  box-shadow: 6px -1px 48px -10px rgba(66, 66, 66);
}
.perfis {
  display: flex;
  justify-content: center;
}
.btn-gerenciador {
  width: 15%;
  padding: 20px 20px; /*Interno*/
  margin: 400px; /*Externa*/
  border: none;
  text-transform: uppercase;
  border-radius: 40px;
  outline: none;
  font-weight: 60;
  color: rgb(255, 255, 255);
  background: red;
  cursor: pointer;
}
.btn-gerenciador {
  margin: 20px;
  margin-top: 250px;
}
.btn-gerenciador:hover {
  -webkit-box-shadow: 6px -1px 48px -10px rgba(66, 66, 66);
  -moz-box-shadow: 6px -1px 48px -10px rgba(66, 66, 66);
  box-shadow: 6px -1px 48px -10px rgba(66, 66, 66);
}
.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
